* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: verdana, Arial, Helvetica, sans-serif;
  /* overflow-x: 34.5em; */
  /* width: 70%; */
  /* overflow: auto; */
}

body {
  background-color: #ddddee;
  display: grid;
  /* display: flexbox; */
  /* overflow-x: hidden; */
  /* overflow-wrap: normal; */
  overflow-y: visible;
  overflow-x: hidden;
  width: 100%;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* display: flex;

  padding-inline-start: 60px ;
  padding-inline-end: 60px; */
  /* align-items: center; */
  /* justify-content: space-evenly;
  */
  /* justify-content: center; */
  background-color: #9999cc;
  /* justify-content: center; */
  /* text-align: center; */
  height: 51px;
  width: 1349px;
  /* margin-left: 104.5px; */
  /* margin-right: 104.5px; */
  /* width: 100%; */
}

.A_Z {
  display: flex;
  justify-content: center;
  height: 30px;
  text-align: center;
  margin-left: 104.5px;
  /* margin-right: 104.5px; */
}

.notempty {
  display: flex;
  padding-inline-start: 60px;
  padding-inline-end: 40px;
  margin-right: 104.5px;
  align-items: center;
  justify-content: space-between;
  background-color: #9999cc;
  text-align: center;
  height: 50px;
  width: 1140px;
  /* margin-left: 30px; */
  /* justify-content: space-evenly; */
  /* justify-content: center; */
  /* padding: 10px 3px; */
  /* padding-left: 40px; */
  /* width: 100%; */
  /* overflow-x: hidden; */
}

nav img {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  /* margin-left: 70px; */
  /* padding-right: 104.5px; */
}
.A_Z a {
  list-style: none;
  /* margin-left: 50px; */
  /* margin-inline-start: 50px; */
  /* margin-right: 120px; */
  /* justify-content: space-between; */
  /* padding: 1px; */
  margin-right: 8px;
}
nav a {
  text-decoration: none;
  color: white;
  /* font-size: 18px; */
  font-size: medium;
  font-weight: 716;
  /* height: 100px;
  width: 100px; */
  /* display: contents; */
  /* margin-top: 40px; */
  /* display: flex; */
  /* flex-direction: row; */
  /* margin: 0px 0.8px; */
  /* margin-top: 10px; */
  /* padding-left: 104.5px; */
  /* font-stretch: extra-condensed; */

  padding: 4px;
  font-family: sans-serif;
}
nav li a:hover {
  background-color: #7777cc;
}
nav form {
  display: flex;
  border: none;
  width: 300px;
  height: 34px;
  margin-left: 130px;
  /* margin-right: 104.5px; */
  /* padding-left: 135px; */
  /* padding: 0px 15px; */
}
nav form input {
  width: 177.63px;
  height: 34px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  padding: 6px 12px;
}
nav form button {
  background: none;
  border: none;
  background-color: #7777cc;
  display: flex;
  align-items: center;
  width: 93.38px;
  height: 34px;
  font-size: 16px;
  color: white;
  padding: 6px 12px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
nav form button small {
  margin-left: 2px;
}

.hero {
  padding: 3px;
  height: 311px;
  align-items: center;
  text-align: center;
  background-color: #666699;
  text-align: center;
}

.container_mainpage {
  margin: 0px 55px;
  display: grid;
  align-content: center;
  padding: 7.5px 15px;
}
.container_mainpage .welcome_ads {
  display: flex;
  align-content: center;
  margin: 0px 15px;
  text-align: center;
}
.container_mainpage .welcome_ads .welcome_text {
  margin: 0px 0px 0px 195px;
  padding: 0px 15px;
  text-align: center;
}
.container_mainpage .welcome_ads .welcome_text .Bigtext {
  font-size: 26px;
}
.container_mainpage .welcome_ads .welcome_text form {
  display: flex;
  height: 34px;
}
.container_mainpage .welcome_ads .welcome_text form input {
  width: 321px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: none;
  padding: 6px 12px;
}
.container_mainpage .welcome_ads .welcome_text form button {
  background: none;
  border: none;
  background-color: #7777cc;
  display: flex;
  align-items: center;
  font-size: 10px;
  color: white;
  padding: 6px 12px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.container_mainpage .welcome_ads .Ads {
  width: 360px;
  height: 250px;
  margin: 0px 195px 0px 0px;
  padding: 0px 15px;
}
.container_mainpage .welcome_ads small {
  color: #737373;
  margin: 5px 0px 10px;
  font-size: 12px;
}
.container_mainpage .song_table {
  align-content: center;
  margin: 0px 15px;
  text-align: center;
}
.container_mainpage .song_table p {
  margin: 9px 0px 10px;
  padding: 0px 15px;
  text-align: center;
  font-size: 26px;
}
.container_mainpage .song_table .tables {
  display: flex;
  text-align: center;
  margin: 0px 0px 0px 190px;
}
.container_mainpage .song_table .tables table {
  width: 350px;
  padding: 0px 15px;
  justify-content: space-evenly;
}
.container_mainpage .song_table .tables td {
  margin: 3px;
  background-color: #eeeeff;
  padding: 10px 15px;
  text-align: center;
  color: #00e;
}
.container_mainpage .song_table .tables td td:hover {
  background-color: white;
}
.container_mainpage .song_table .tables .AKA {
  margin: 3px;
  background-color: #eeeeff;
  padding: 10px 5px;
  text-align: center;
  color: #00e;
}

.Adstwo {
  height: 90px;
  margin: 8px 0px;
}

.grid {
  display: grid;
  align-items: flex-start;
  justify-content: center;
}
.grid .gridHeader {
  font-size: 26px;
  text-align: center;
  margin: 9px 0px 10px;
}
.grid .gridItemsRowone {
  display: flex;
  overflow: hidden;
  justify-content: space-evenly;
  text-align: center;
}
.grid .gridItemsRowone .cards {
  margin: 10px 0px;
  padding: 0px 15px;
}
.grid .gridItemsRowone .cards .card_img {
  width: 160px;
  height: 160px;
}
.grid .gridItemsRowone .cards .cardContent p {
  color: #00e;
}
.grid .gridItemsRowtwo {
  display: flex;
  overflow: hidden;
  justify-content: space-evenly;
  text-align: center;
}
.grid .gridItemsRowtwo .cards {
  margin: 10px 0px;
  padding: 0px 15px;
}
.grid .gridItemsRowtwo .cards .card_img {
  width: 160px;
  height: 160px;
}
.grid .gridItemsRowtwo .cards .cardContent p {
  color: #00e;
}
.grid .gridItemsRowthree {
  display: flex;
  overflow: hidden;
  justify-content: space-evenly;
  text-align: center;
}
.grid .gridItemsRowthree .cards {
  margin: 10px 0px;
  padding: 0px 15px;
}
.grid .gridItemsRowthree .cards .card_img {
  width: 160px;
  height: 160px;
}
.grid .gridItemsRowthree .cards .cardContent p {
  color: #00e;
}
.grid .gridItemsRowlast {
  display: flex;
  overflow: hidden;
  justify-content: space-evenly;
  text-align: center;
}
.grid .gridItemsRowlast .cards {
  margin: 10px 0px;
  padding: 0px 15px;
}
.grid .gridItemsRowlast .cards .card_img {
  width: 160px;
  height: 160px;
}
.grid .gridItemsRowlast .cards .cardContent p {
  color: #00e;
}

footer .lastFooter {
  text-align: center;
  font-size: 11px;
  color: #333;
}

ul {
  display: flex;
  text-align: center;
  list-style: none;
  justify-content: center;
}
ul li {
  margin: 15px;
  height: 20px;
}

.firstfooter {
  background-color: #7777cc;
}
.firstfooter a {
  color: white;
  text-decoration: none;
}

.secondfooter a {
  color: #00e;
  text-decoration: none;
}
/*# sourceMappingURL=Style.css.map */
